<div class="row justify-content-center panel-container">
  <div class="col-8">
    <div *ngIf="course">
      <h2><span>Course</span>: {{ course.title }}</h2>
      <hr>
      <dl class="row-md entity-details">
        <dt><span >ID</span></dt>
        <dd>
          <span>{{ course.id }}</span>
        </dd>
        <dt><span >description</span></dt>
        <dd>
          <span>{{ course.description }}</span>
        </dd>
        <dt><span >ect</span></dt>
        <dd>
          <span>{{ course.ect }}</span>
        </dd>
        <dt><span>Company Address</span></dt>
        <dd>
          <span>{{ course.maxHours }}</span>
        </dd>
        <dt><span>Practice</span></dt>
        <dd>
          <span>{{ course.practice===true?'Yes':'No' }}</span>
        </dd>
        <dt><span>Themes</span></dt>
        <div *ngIf="course.themes.length>0; else elseThemes" >
          <dd *ngFor="let item of course.themes">
            <span><a [routerLink]="['/university/managethemes',item.id, 'view']">{{ item.title }}</a> </span>
          </dd>
        </div>
        <ng-template #elseThemes>
          <dd>
            <span>N/A</span>
          </dd>
        </ng-template>
        <dt><span>Teacher</span></dt>
        <dd>
          <div *ngIf="course.teacher.name; else elseTeacher" >
            <span><a [routerLink]="['/university/manageteachers',course.teacher.id, 'view']">{{ course.teacher.name }}</a> </span>
          </div>
          <ng-template #elseTeacher><span>
            N/A
          </span></ng-template>
        </dd>
      </dl>
      </div>

    <button type="submit" (click)="previousState()" class="btn btn-info margin-right-10">
      <i class="fa fa-arrow-left"></i><span>Back</span>
    </button>

    <button type="button" [routerLink]="['/managecourses', course.id, 'edit']" class="btn btn-primary">
      <i class="fa fa-pencil"></i><span>Edit</span>
    </button>
  </div>
</div>
