<div class="container">
<div class="row justify-content-center panel-container">
  <img src="../../../assets/images/linkedin_logo.png" width="250" height="250" alt="Logo image">
</div>
<div class="row justify-content-center panel-container">
  <div class="col-8">
    <h2><span>Contactos IN</span></h2>
    <dl class="row-md entity-details">
      <dt><span >Email</span></dt>
      <dd>
        <span>info@ulusofona.pt</span>
      </dd>
      <dt><span >Endereço</span></dt>
      <dd>
        <span>Campo Grande, 376</span>
      </dd>
      <dt><span >Cód.Postal</span></dt>
      <dd>
        <span>1749-024 Lisboa - Portugal</span>
      </dd>
      <dt><span>Telef</span></dt>
      <dd>
        <span>217 515 500</span>
      </dd>
    </dl>
  </div>

  <div class="col-4">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Whatsapp</h5>
        <h6 class="card-subtitle mb-2 text-muted">write us now.</h6>
        <p class="card-text">We've just built a new way to contact us.</p>
        <a href="#" class="card-link">click here</a>
      </div>
    </div>
  </div>
</div>


</div>
