<div class="container">
<div class="row justify-content-center panel-container">
  <img src="../../../assets/images/linkedin_logo.png" width="250" height="250" alt="Logo image">
</div>
<div class="row justify-content-center panel-container">
  <div class="col-8">
    <h2><span>Contactos IN</span></h2>
    <dl class="row-md entity-details">
      <dt><span >Email</span></dt>
      <dd>
        <span>info@ulusofona.pt</span>
      </dd>
      <dt><span >Endereço</span></dt>
      <dd>
        <span>Campo Grande, 376</span>
      </dd>
      <dt><span >Cód.Postal</span></dt>
      <dd>
        <span>1749-024 Lisboa - Portugal</span>
      </dd>
      <dt><span>Telef</span></dt>
      <dd>
        <span>217 515 500</span>
      </dd>
      <dt><span>Developer</span></dt>
      <dd>
        <span>Ricardo Ferreira</span>
      </dd>
      <dt><span>Student ID</span></dt>
      <dd>
        <span>a21201528</span>
      </dd>
    </dl>
  </div>

  <div class="col-4">
    <div class="card border-success mb-4" style="width: 18rem;">
      <div class="card-header">Whatsapp</div>

      <div class="card-body">
        <h5 class="card-title">write us now</h5>
        <p class="card-text">We've just built a new way to contact us</p>
        <a href="#" class="btn btn-primary">click here</a>

      </div>
    </div>
    <div class="card border-danger mt-4" style="width: 18rem;">
      <div class="card-header">Email</div>

      <div class="card-body">
        <h5 class="card-title">write us a feedback</h5>
        <p class="card-text">We want your support</p>
        <a href="#" class="btn btn-primary">click here</a>

      </div>
    </div>
  </div>
  <div class="col-4">

  </div>
</div>


</div>
