<p>manage-certifications-detail works!</p>
<div class="row justify-content-center panel-container">
  <div class="col-8">
    <div *ngIf="certification">
      <h2><span>Certification</span> {{ certification.id }}</h2>
      <hr>
      <dl class="row-md entity-details">
        <dt><span >ID</span></dt>
        <dd>
          <span>{{ certification.id }}</span>
        </dd>
        <dt><span >Name</span></dt>
        <dd>
          <span>{{ certification.certName }}</span>
        </dd>
        <dt><span >Code</span></dt>
        <dd>
          <span>{{ certification.certCode }}</span>
        </dd>
        <dt><span >Url</span></dt>
        <dd>
          <span>{{ certification.certUrl }}</span>
        </dd>
        <dt><span>Expire Date</span></dt>
        <dd>
          <span>{{ certification.expireDate }}</span>
        </dd>
        <dt><span>Expires</span></dt>
        <dd>
          <span>{{ certification.expires }}</span>
        </dd>
        <dt><span>Issuing Date</span></dt>
        <dd>
          <span>{{ certification.issuingDate }}</span>
        </dd>
        <dt><span>Issuing Org</span></dt>
        <dd>
          <span>{{ certification.issuingOrg }}</span>
        </dd>
      </dl>


      <button type="submit" (click)="previousState()" class="btn btn-info margin-right-10">
        <i class="fa fa-arrow-left"></i><span>Back</span>
      </button>

    </div>
  </div>
</div>
