<div class="panel-container" *ngIf="!createTeacher ">
  <form [formGroup]="manageCoursesForm" (ngSubmit)="saveCourse()">
    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputTitle">Title</label>
        <input type="text" class="form-control" [ngClass]="manageCoursesForm.get('title').invalid && (manageCoursesForm.get('title').dirty || manageCoursesForm.get('title').touched) && manageCoursesForm.controls['title'].errors ? 'is-invalid' : ''"
               id="inputCourseName" placeholder="Course Name" formControlName="title">
        <div class="invalid-feedback" *ngIf="manageCoursesForm.get('title').invalid && (manageCoursesForm.get('title').dirty || manageCoursesForm.get('title').touched)">
          <span *ngIf="manageCoursesForm.controls['title'].hasError('required')">This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6 mb-6">
        <label for="inputECT">ECT</label>
        <input type="number" class="form-control" [ngClass]="manageCoursesForm.get('ect').invalid && (manageCoursesForm.get('ect').dirty || manageCoursesForm.get('ect').touched) && manageCoursesForm.controls['ect'].errors ? 'is-invalid' : ''"
               id="inputECT" placeholder="ECT" formControlName="ect">
        <div class="invalid-feedback" *ngIf="manageCoursesForm.get('ect').invalid && (manageCoursesForm.get('ect').dirty || manageCoursesForm.get('ect').touched)">
          <span *ngIf="manageCoursesForm.controls['ect'].hasError('required')">This field is required</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputDescription">Description</label>
        <textarea type="text" class="form-control" [ngClass]="manageCoursesForm.get('description').invalid && (manageCoursesForm.get('description').dirty || manageCoursesForm.get('description').touched) && manageCoursesForm.controls['description'].errors ? 'is-invalid' : ''"
               id="inputDescription" placeholder="Description" formControlName="description"></textarea>
        <div class="invalid-feedback" *ngIf="manageCoursesForm.get('description').invalid && (manageCoursesForm.get('description').dirty || manageCoursesForm.get('description').touched)">
          <span *ngIf="manageCoursesForm.controls['description'].hasError('required')">This field is required</span>
          <span *ngIf="manageCoursesForm.controls['description'].hasError('maxlength')">Max length of this field is 10 characters</span>
        </div>
      </div>

      <div class="form-group col-md-6 mb-6">
        <label for="inputHours">Hours of course</label>
        <input type="number" class="form-control" [ngClass]="manageCoursesForm.get('maxHours').invalid && (manageCoursesForm.get('maxHours').dirty || manageCoursesForm.get('maxHours').touched) && manageCoursesForm.controls['maxHours'].errors ? 'is-invalid' : ''"
               id="inputHours" placeholder="Hours" formControlName="maxHours">
        <div class="invalid-feedback" *ngIf="manageCoursesForm.get('maxHours').invalid && (manageCoursesForm.get('maxHours').dirty || manageCoursesForm.get('maxHours').touched)">
          <span *ngIf="manageCoursesForm.controls['maxHours'].hasError('required')">This field is required</span>
        </div>
      </div>
    </div>
    <div class="form-row"  *ngIf="list$|async as list">
      <div class="form-group col-md-6 mb-6" *ngIf="(list.length>0)&& teacher$|async">
        <app-type-head [type]="'Teacher'" [list]='list' [currentValue]="teacher" (value)='patchValue($event)'></app-type-head>
      </div>
      <div class="form-group col-md-6 mb-6 mt-2" *ngIf="teacher"  >
        <button  type="button" id="new-team-member-btn1" class="btn btn-primary mt-4 " (click)="createTeacher=!createTeacher;editTeacherForm(teacher)">
          <i class="fa fa-plus"></i>
          <span>
            Update Teacher
          </span>
        </button>
      </div>
    </div>
    <div class="form-row ml-1">
      <div class="form-group ">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="practice" formControlName="practice" checked="true">
          <label class="form-check-label" for="practice">
            Practice
          </label>
        </div>
        <button type="button" id="new-team-member-btn1" class="btn btn-primary mt-4 " (click)="createTeacher=!createTeacher;createTeacherForm()" ngbTooltip="You dont need to regist a new teacher to submit a course.">
          <i class="fa fa-plus"></i>
          <span>
            Regist a new Teacher
          </span>
        </button>
      </div>

    </div>

    <hr>
    <h4 id="course-team-members-heading">
      <span>Theme</span>
      <button type="button" id="new-team-member-btn" class="btn btn-primary float-right" (click)="addTheme()">
        <i class="fa fa-plus"></i>
        <span>
          Add new Theme
        </span>
      </button>
    </h4>
    <br/>
    <div class="table-responsive" *ngIf="courseThemesControls.length > 0">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th><span>ID</span></th>
            <th><span>Title</span></th>
            <th><span>Description</span></th>
            <th><span>Hours</span></th>
            <th><span>Practice</span></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let themes of courseThemesControls; index as i;" formArrayName="themes">
          <ng-container [formGroupName]="i">
            <td>{{ themes.get('id').value }}</td>
            <td>
              <input type="text" class="form-control" title="title-{{i}}" id="title-{{i}}" formControlName="title"/>
            </td>
            <td>
              <input type="text" class="form-control" title="description-{{i}}" id="description-{{i}}" formControlName="description"/>
            </td>
            <td>
              <input type="number" class="form-control" title="maxHours-{{i}}" id="maxHours-{{i}}" formControlName="maxHours"/>
            </td>
            <div class="form-group">
              <div class="form-check ">
                <input class="form-check-input" type="checkbox" id="practice-{{i}}"
                title='practice-{{i}}' formControlName="practice">

              </div>
            </div>
            <td class="text-right">
              <div class="btn-group flex-btn-group-container">
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteCourseTheme(i)">
                  <i class="fa fa-times"></i>
                  <span class="d-none d-md-inline"> Delete</span>
                </button>
              </div>
            </td>

          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="row margin-top-10">
      <div class="col-12">
        <re-captcha formControlName="formRecaptcha"></re-captcha>
      </div>
    </div>
    <div class="margin-top-20">
      <button type="button" id="cancel-save" class="btn btn-secondary margin-right-10" (click)="previousState()">
        <i class="fa fa-ban"></i><span>Cancel</span>
      </button>
      <button type="submit" id="save-entity" [disabled]="manageCoursesForm.invalid || isSaving" class="btn btn-primary">
        <i class="fa fa-save"></i><span>Save</span>
      </button>
    </div>
  </form>
</div>


<div class="panel-container" *ngIf="createTeacher ">
  <form [formGroup]="manageTeachersForm" (ngSubmit)="saveTeacher()">
    <div *ngIf="manageTeachersForm.get('id').value; else new">
      <h6>Update the Teacher For course</h6>

    </div>
    <ng-container #new>
      <h6>Create the Teacher For course</h6>

    </ng-container>

    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" [ngClass]="manageTeachersForm.get('name').invalid && (manageTeachersForm.get('name').dirty || manageTeachersForm.get('name').touched) && manageTeachersForm.controls['name'].errors ? 'is-invalid' : ''"
               id="inputName" placeholder="Name" formControlName="name">
        <div class="invalid-feedback" *ngIf="manageTeachersForm.get('name').invalid && (manageTeachersForm.get('name').dirty || manageTeachersForm.get('name').touched)">
          <span *ngIf="manageTeachersForm.controls['name'].hasError('required')">This field is required</span>
          <span *ngIf="manageTeachersForm.controls['name'].hasError('maxlength')">Max length of this field is 50 characters</span>
        </div>
      </div>
      <div class="form-group col-md-6 mb-6">
        <label for="inputGender">Gender</label>
        <input type="text" class="form-control" [ngClass]="manageTeachersForm.get('gender').invalid && (manageTeachersForm.get('gender').dirty || manageTeachersForm.get('gender').touched) && manageTeachersForm.controls['gender'].errors ? 'is-invalid' : ''"
               id="inputGender" placeholder="M/F" formControlName="gender">
        <div class="invalid-feedback" *ngIf="manageTeachersForm.get('gender').invalid && (manageTeachersForm.get('gender').dirty || manageTeachersForm.get('gender').touched)">
          <span *ngIf="manageTeachersForm.controls['gender'].hasError('required')">This field is required</span>
          <span *ngIf="manageTeachersForm.controls['gender'].hasError('maxlength')">Max length of this field is 10 characters</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputFormationYear">Formation Year</label>
          <input type="date" class="form-control" name="formationYear" id="formationYear" formControlName="formationYear" [ngClass]="manageTeachersForm.get('formationYear').invalid && (manageTeachersForm.get('formationYear').dirty || manageTeachersForm.get('formationYear').touched) && manageTeachersForm.controls['formationYear'].errors ? 'is-invalid' : ''"/>

        <div class="invalid-feedback" *ngIf="manageTeachersForm.get('formationYear').invalid && (manageTeachersForm.get('formationYear').dirty || manageTeachersForm.get('formationYear').touched)">
          <span *ngIf="manageTeachersForm.controls['formationYear'].hasError('required')">This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6 mb-6">
        <label for="inputGender">Gender</label>
        <select class="form-control" [ngClass]="manageTeachersForm.get('gender').invalid && (manageTeachersForm.get('gender').dirty || manageTeachersForm.get('gender').touched) && manageTeachersForm.controls['gender'].errors ? 'is-invalid' : ''"
               id="inputGender" placeholder="M/F" formControlName="gender">
               <option>Male</option>
               <option>Female</option>
        </select>
        <div class="invalid-feedback" *ngIf="manageTeachersForm.get('gender').invalid && (manageTeachersForm.get('gender').dirty || manageTeachersForm.get('gender').touched)">
          <span *ngIf="manageTeachersForm.controls['gender'].hasError('required')">This field is required</span>
          <span *ngIf="manageTeachersForm.controls['gender'].hasError('maxlength')">Max length of this field is 10 characters</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputWorkingYear">Working Years</label>
        <input type="number" class="form-control" [ngClass]="manageTeachersForm.get('workingYear').invalid && (manageTeachersForm.get('workingYear').dirty || manageTeachersForm.get('workingYear').touched) && manageTeachersForm.controls['workingYear'].errors ? 'is-invalid' : ''"
                id="inputWorkingYear" placeholder="Working Year" formControlName="workingYear">
        <div class="invalid-feedback" *ngIf="manageTeachersForm.get('workingYear').invalid && (manageTeachersForm.get('workingYear').dirty || manageTeachersForm.get('workingYear').touched)">
          <span *ngIf="manageTeachersForm.controls['workingYear'].hasError('required')">This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6 mb-6">
        <label for="bday">Birthday date</label>
        <input type="date" class="form-control" name="bday" id="bday" formControlName="bday" [ngClass]="manageTeachersForm.get('bday').invalid && (manageTeachersForm.get('bday').dirty || manageTeachersForm.get('bday').touched) && manageTeachersForm.controls['bday'].errors ? 'is-invalid' : ''"/>

        <div class="invalid-feedback" *ngIf="manageTeachersForm.get('bday').invalid && (manageTeachersForm.get('bday').dirty || manageTeachersForm.get('bday').touched)">
          <span *ngIf="manageTeachersForm.controls['bday'].hasError('required')">This field is required</span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 mb-6">
        <label for="inputBio">biography</label>
        <textarea type="text" class="form-control" [ngClass]="manageTeachersForm.get('bio').invalid && (manageTeachersForm.get('bio').dirty || manageTeachersForm.get('bio').touched) && manageTeachersForm.controls['bio'].errors ? 'is-invalid' : ''"
                id="inputBio" placeholder="Bio" formControlName="bio"></textarea>
        <div class="invalid-feedback" *ngIf="manageTeachersForm.get('bio').invalid && (manageTeachersForm.get('bio').dirty || manageTeachersForm.get('bio').touched)">
          <span *ngIf="manageTeachersForm.controls['bio'].hasError('required')">This field is required</span>
        </div>
      </div>
      <div class="form-group col-md-6 mb-6">
        <label for="inputresume">Resume</label>
        <textarea type="text" class="form-control" [ngClass]="manageTeachersForm.get('resume').invalid && (manageTeachersForm.get('resume').dirty || manageTeachersForm.get('resume').touched) && manageTeachersForm.controls['resume'].errors ? 'is-invalid' : ''"
                id="inputresume" placeholder="Bio" formControlName="resume"></textarea>
        <div class="invalid-feedback" *ngIf="manageTeachersForm.get('resume').invalid && (manageTeachersForm.get('resume').dirty || manageTeachersForm.get('resume').touched)">
          <span *ngIf="manageTeachersForm.controls['resume'].hasError('required')">This field is required</span>
        </div>
      </div>
    </div>
    <hr>
    <div>

    </div>
    <div class="row margin-top-10">
      <div class="col-12">
        <re-captcha formControlName="formRecaptcha"></re-captcha>
      </div>
    </div>
    <div class="margin-top-20">
      <button type="button" id="cancel-save" class="btn btn-secondary margin-right-10" (click)="createTeacher=!createTeacher">
        <i class="fa fa-ban"></i><span>Cancel</span>
      </button>
      <button type="submit" id="save-entity" [disabled]="manageTeachersForm.invalid || isSaving" class="btn btn-primary">
        <i class="fa fa-save"></i><span>Save</span>
      </button>
    </div>
  </form>
</div>

