<main role="main">

  <div class="panel-container">
    <h2>
      Latest 5 Teachers Available
    </h2>
    <hr>
    <div class="table-responsive" id="teachersTable" *ngIf="teacherList.length>0">
      <table class="table table-striped" aria-describedby="page-heading" >
        <thead>
          <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Name</span></th>
            <th scope="col" ><span>Email</span></th>
            <th scope="col" ><span>Gender</span></th>
            <th scope="col"><span>Year Experience</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let teacher of teacherList ;trackBy: trackIdTeacher">
            <td><a [routerLink]="['/university/manageteachers',teacher.id, 'view']">{{ teacher.id }}</a></td>
            <td>{{ teacher.name }}</td>
            <td>{{ teacher.email }}</td>
            <td>{{ teacher.gender }}</td>
            <td>{{ teacher.workingYear }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="alert alert-warning" id="no-result" *ngIf="teacherList?.length === 0">
      <span>No Teachers available</span>
    </div>
    <h2>
      Latest 5 Courses Available
    </h2>
    <hr>
    <div class="table-responsive" id="coursesTable" *ngIf="courseList?.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Title</span></th>
            <th scope="col" ><span>Description</span></th>
            <th scope="col" ><span>ECT</span></th>
            <th scope="col" ><span>Hours</span></th>
            <th class="text-center" scope="col" ><span>Teacher</span></th>
            <th class="text-center" scope="col" ><span>Themes</span></th>

            <th class="text-center" scope="col" ><span>Practice</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courseList ;trackBy: trackIdCourse">
            <td><a [routerLink]="['/university/managecourses',course.id, 'view']">{{ course.id }}</a></td>
            <td>{{ course.title }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.ect }}</td>
            <td>{{ course.maxHours }}</td>
            <td class="text-center">
              <i class="fa" [ngClass]="(course.teacher.name) ? 'fa-check' : 'fa-times'"></i>
            </td>
            <td class="text-center">
              <i class="fa" [ngClass]="(course.themes.length>0) ? 'fa-check' : 'fa-times'"></i>
            </td>
            <td class="text-center">
                <i class="fa" [ngClass]="(course.practice) ? 'fa-check' : 'fa-times'"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="alert alert-warning" id="no-result" *ngIf="courseList?.length === 0">
      <span>No Courses available</span>
    </div>
  </div>

</main>
